<p>{{ 'Angular' | custom:'Bienvenido a' |uppercase }}</p>

<h2 >Mis Proyectos</h2>
<app-project-form></app-project-form>


<ul appHighlight="lightblue">
  <h2 appHighlight="lightblue">Bienvenido a mi portafolio</h2>
  <li *ngFor="let project of projects">
    <!-- Se pasa cada proyecto al componente hijo y se escucha el evento -->
    <app-project-item 
      [project]="project" 
      (projectSelected)="onProjectSelected($event)">
    </app-project-item>
  </li>
</ul>

<!-- Componente de posts -->
<app-posts></app-posts>