
<div class="register-container">
  <h2>Registro</h2>

  <form (ngSubmit)="register()" #form="ngForm" novalidate>
  
    <label>Email:</label>
  
    <input 
      type="email" 
      [(ngModel)]="email" 
      name="email" 
      required
      pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$"
      #emailInput="ngModel"
    />
    <div *ngIf="emailInput.invalid && emailInput.touched" style="color:red">
      El email es obligatorio y debe tener un formato válido.
    </div>
  
    <label>Contraseña:</label>
  
    <input 
      type="password" 
      [(ngModel)]="password" 
      name="password"
      required  
      minlength="4"
      #passwordInput="ngModel"
      />
      <div *ngIf="passwordInput.invalid && passwordInput.touched" style="color:red">
        La contraseña es obligatoria y debe tener al menos 4 caracteres.
      </div>
  
    <button type="submit" [disabled]="form.invalid">Registrarse</button>
  </form>
  
  <p style="color: green;" *ngIf="success">{{ success }}</p>
  <p style="color: red;" *ngIf="error">{{ error }}</p>
</div>


